<div class="container">
  <div class="weather-side">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="date-dayname">{{ days[this.today.getDay()] }}</h2>
      <span class="date-day">{{ this.today.getDate() }} of <span style="text-transform: capitalize;">{{ months[this.today.getMonth()] }}</span> {{ this.today.getFullYear() }}</span>
      <div class="location" *ngIf="selected_city != null">
        <i class="fa-light fa-location-dot location-icon"></i>
        <img src="https://flagsapi.com/{{ selected_city['country_code'] }}/flat/24.png" class="country" title="{{ selected_city['country'] }}">
        <span>{{ selected_city.name }}, {{ selected_city.country }}</span>
      </div>
    </div>
    <div class="weather-container" *ngIf="selected_city != null"> <!-- Todo: loading icon, when weather is not loaded. -->
      <i [ngClass]="['fa-light', 'fa-' + getDataFromWeatherCode(weatherHours[now.getHours()]['weathercode'])['icon'], 'weather-icon']"></i> <!-- Todo: icons -->
      <h1 class="weather-temp" *ngIf="weatherHours?.[now.getHours()]?.['temperature'] && weatherHours?.[now.getHours()]?.['temperatureUnit']">{{ weatherHours[now.getHours()]['temperature'] }} {{ weatherHours[now.getHours()]['temperatureUnit']  }}</h1>
      <h3 class="weather-desc" *ngIf="weatherHours?.[now.getHours()]?.['weathercode'] && getDataFromWeatherCode(weatherHours[now.getHours()]['weathercode'])?.['text']">{{ getDataFromWeatherCode(weatherHours[now.getHours()]['weathercode'])['text'] }}</h3> <!-- Todo: description -->
    </div>
  </div>
  <div class="info-side">
    <div class="form-group" *ngIf="selectNewCity == true">
      <label for="city">Weather forecast</label>
      <input type="text" name="city" id="city" (keydown)="searchCity($event)" placeholder="City">
      <div class="list-cities">
        <div class="city" *ngFor="let city of search_cities;let i = index;" (click)="showCity(i)">
          <img src="https://flagsapi.com/{{ city['country_code'] }}/flat/24.png" class="country" title="{{ city['country'] }}">
          <div class="name">{{ city['name'] }}</div>
          <small class="country_string">{{ city['country']}}</small>
        </div>
      </div>
    </div>
    <div class="city-info" *ngIf="selectNewCity == false">
      <div class="now-info">
        <div *ngIf="weatherHours?.[now.getHours()]?.['relativehumidity'] != undefined">
          <div class="title">Relative humidity</div>
          <div class="value">{{ weatherHours[now.getHours()]['relativehumidity'] }} {{ weatherHours[now.getHours()]['relativehumidityUnit'] }}</div>
        </div>
        <div *ngIf="weatherHours?.[now.getHours()]?.['precipitation'] != undefined">
          <div class="title">Precipitation</div>
          <div class="value">{{ weatherHours[now.getHours()]['precipitation'] * 100 }} {{ weatherHours[now.getHours()]['precipitationUnit'] }}</div>
        </div>
        <div *ngIf="weatherHours?.[now.getHours()]?.['windspeed'] != undefined">
          <div class="title">Wind speed</div>
          <div class="value">{{ weatherHours[now.getHours()]['windspeed'] }} {{ weatherHours[now.getHours()]['windspeedUnit'] }}</div>
        </div>
      </div>
      <ul class="next-days"> <!-- Todo: clickable another days, show more details -->
        <!-- Todo: loading icon -->
        <li class="active" *ngIf="weatherDays[0]">
          <i [ngClass]="['fa-light', 'fa-' + getDataFromWeatherCode(weatherDays[0]['weatherCodeDay'])['icon'], 'day-icon']"></i> <!-- Todo: icons -->
          <span class="day-name" *ngIf="weatherDays?.[0]?.day">{{ daysShort[getDay(weatherDays[0].day * 1000)] }}</span>
          <span class="day-temp" *ngIf="weatherDays?.[0]">{{ weatherDays[0].maxTempDay + " " + weatherDays[0].maxTempDayUnit }} / {{ weatherDays[0].minTempDay + " " + weatherDays[0].minTempDayUnit }}</span>
        </li>
        <li *ngIf="weatherDays[1]">
          <i [ngClass]="['fa-light', 'fa-' + getDataFromWeatherCode(weatherDays[1]['weatherCodeDay'])['icon'], 'day-icon']"></i>
          <span class="day-name" *ngIf="weatherDays?.[1]?.day">{{ daysShort[getDay(weatherDays[1].day * 1000)] }}</span>
          <span class="day-temp" *ngIf="weatherDays?.[1]">{{ weatherDays[1].maxTempDay + " " + weatherDays[1].maxTempDayUnit }} / {{ weatherDays[1].minTempDay + " " + weatherDays[1].minTempDayUnit }}</span>
        </li>
        <li *ngIf="weatherDays[2]">
          <i *ngIf="weatherDays[2]" [ngClass]="['fa-light', 'fa-' + getDataFromWeatherCode(weatherDays[2]['weatherCodeDay'])['icon'], 'day-icon']"></i>
          <span class="day-name" *ngIf="weatherDays?.[2]?.day">{{ daysShort[getDay(weatherDays[2].day * 1000)] }}</span>
          <span class="day-temp" *ngIf="weatherDays?.[2]">{{ weatherDays[2].maxTempDay + " " + weatherDays[2].maxTempDayUnit }} / {{ weatherDays[2].minTempDay + " " + weatherDays[2].minTempDayUnit }}</span>
        </li>
        <li *ngIf="weatherDays[3]">
          <i [ngClass]="['fa-light', 'fa-' + getDataFromWeatherCode(weatherDays[3]['weatherCodeDay'])['icon'], 'day-icon']"></i>
          <span class="day-name" *ngIf="weatherDays?.[3]?.day">{{ daysShort[getDay(weatherDays[3].day * 1000)] }}</span>
          <span class="day-temp" *ngIf="weatherDays?.[3]">{{ weatherDays[3].maxTempDay + " " + weatherDays[3].maxTempDayUnit }} / {{ weatherDays[3].minTempDay + " " + weatherDays[3].minTempDayUnit }}</span>
        </li>
      </ul>
      <div class="change-location">
        <div class="btn" (click)="selectNewCity = true;"><i class="fa-light fa-location-dot"></i> Select another city</div>
      </div>
    </div>
  </div>
</div>